:root {
  --primary-font: "Karla", "Roboto", sans-serif;
  --primary-color: hsl(179, 62%, 43%);
  --heading-color: hsl(71, 73%, 54%);
  --light-color: white;
  --background-color: hsl(204, 43%, 93%);
  --text-color: hsl(200, 1%, 61%);
  --why-us-bg: hsl(179, 46%, 52%);
  --why-us-text: #b2f2f7;
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  font-family: var(--primary-font);
  background-color: var(--background-color);
}

main {
  width: 43.75rem;
  height: auto;
  border: none;
  border-radius: 0.625rem;
  box-shadow: 0 15px 15px lightgray;
}

.join-community {
  padding: 1.25rem 1.25rem 1.875rem 2.5rem;
  background-color: var(--light-color);
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}

.join-community h1 {
  color: var(--primary-color);
}

.join-community h3 {
  color: var(--heading-color);
}

.join-community p {
  margin-bottom: 0;
  padding-right: 3.125rem;
  line-height: 2rem;
  color: var(--text-color);
}

.wrapper {
  position: relative;
  display: flex;
}

.subscription,
.why-us {
  width: 100%;
  padding: 2.5rem 3.125rem 1.875rem;
}

.subscription h2,
.why-us h2 {
  margin-top: 0;
  font-size: 1.125rem;
}

.subscription {
  color: var(--light-color);
  background-color: var(--primary-color);
  border-bottom-left-radius: 0.625rem;
}

.subscription h1 {
  position: relative;
  margin: 1.25rem 0 0.4375rem;
  font-size: 2rem;
}

.subscription p {
  margin: 0;
  font-size: 1rem;
}

.why-us {
  color: var(--light-color);
  background-color: var(--why-us-bg);
  border-bottom-right-radius: 0.625rem;
}

.why-us ul {
  padding-left: 0;
  line-height: 1.4rem;
  list-style-type: none;
  color: var(--why-us-text);
}

.sign-up-btn {
  display: flex;
  justify-content: center;
  margin: 2.0625rem 0 0;
  padding: 0.9375rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--light-color);
  background-color: var(--heading-color);
  border-radius: 0.3rem;
  box-shadow: 5px 5px 5px rgba(129, 128, 128, 0.5);
  transition: background-color 0.3s, transform 0.3s;
}

.sign-up-btn:hover {
  background-color: hsl(71, 74%, 47%);
  transform: scale(1.05);
}

.month {
  position: absolute;
  top: 0.5rem;
  left: 4.6875rem;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(125, 227, 235);
}

@media screen and (max-width: 730px) {
  html,
  body {
    height: auto;
  }

  main {
    max-width: 25rem;
    margin: 3.125rem 0;
  }

  main h1 {
    margin-bottom: 0;
    font-size: 1.5625rem;
  }

  main h3 {
    margin-top: 1.875rem;
  }

  .join-community {
    padding: 1.25rem 1.875rem 1.875rem;
  }

  .join-community p {
    padding: 0;
    line-height: 2rem;
  }

  .wrapper {
    display: block;
    width: 21.25rem;
  }

  .subscription {
    padding: 2.5rem 1.875rem;
    border-bottom-left-radius: 0;
  }

  .why-us {
    padding: 2.5rem 1.875rem;
    border-bottom-left-radius: 0.625rem;
  }
}

@media screen and (max-width: 420px) {
  main,
  .wrapper {
    width: 20rem;
  }

  .subscription,
  .why-us {
    padding: 1.25rem 1.875rem 1.875rem;
    box-sizing: border-box;
  }
}