:root {
  --primary-font: "Karla", "Roboto", sans-serif;
  --primary-color: hsl(179, 62%, 43%);
  --heading-color: hsl(71, 73%, 54%);
  --btn-hover-color: hsl(71, 74%, 47%);
  --light-color: hsl(0, 0%, 100%);
  --background-color: hsl(204, 43%, 93%);
  --shadow-color: hsl(0, 0%, 83%);
  --text-color: hsl(200, 1%, 61%);
  --why-us-bg: hsl(179, 46%, 52%);
  --why-us-text: hsl(184, 81%, 83%);
  --month-color: 	hsl(184, 73%, 71%);
  --btn-shadow-color: hsla(0, 0%, 50%, 0.5);
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  font-family: var(--primary-font);
  background-color: var(--background-color);
}

.main {
  width: 43.75rem;
  height: auto;
  border: none;
  border-radius: 0.625rem;
  box-shadow: 0 15px 15px var(--shadow-color);
}

.join-community {
  padding: 1.25rem 1.25rem 1.875rem 2.5rem;
  background-color: var(--light-color);
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}

.join-community__title {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.join-community__description {
  font-size: 1.1rem;
  color: var(--heading-color);
}

.join-community__text {
  margin-bottom: 0;
  padding-right: 3.125rem;
  line-height: 2rem;
  color: var(--text-color);
}

.subscription,
.why-us {
  width: 100%;
  padding: 2.5rem 3.125rem 1.875rem;
}

.subscription__title,
.why-us__title {
  margin-top: 0;
  font-size: 1.125rem;
}

.subscription-wrapper {
  position: relative;
  display: flex;
}

.subscription {
  color: var(--light-color);
  background-color: var(--primary-color);
  border-bottom-left-radius: 0.625rem;
}

.subscription__price {
  position: relative;
  margin: 1.25rem 0 0.4375rem;
  font-size: 2rem;
}

.subscription__month {
  position: absolute;
  top: 0.5rem;
  left: 4.6875rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--month-color);
}

.subscription__text {
  margin: 0;
  font-size: 1rem;
}

.subscription__sign-up-btn {
  display: flex;
  justify-content: center;
  margin: 2.0625rem 0 0;
  padding: 0.9375rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--light-color);
  background-color: var(--heading-color);
  border-radius: 0.3rem;
  box-shadow: 5px 5px 5px var(--btn-shadow-color);
  transition: background-color 0.3s, transform 0.3s;
}

.subscription__sign-up-btn:hover {
  background-color: var(--btn-hover-color);
  transform: scale(1.05);
}

.why-us {
  color: var(--light-color);
  background-color: var(--why-us-bg);
  border-bottom-right-radius: 0.625rem;
}

.why-us__list {
  padding-left: 0;
  line-height: 1.4rem;
  list-style-type: none;
  color: var(--why-us-text);
}

@media screen and (max-width: 730px) {
  html,
  body {
    height: auto;
  }

  .main {
    max-width: 25rem;
    margin: 3.125rem 0;
  }

  .join-community {
    padding: 1.25rem 1.875rem 1.875rem;
  }

  .join-community__title {
    margin-bottom: 0;
    font-size: 1.5625rem;
  }

  .join-community__description {
    margin-top: 1.875rem;
  }

  .join-community__text {
    padding: 0;
    line-height: 2rem;
  }

  .subscription-wrapper {
    display: block;
    width: 21.25rem;
  }

  .subscription {
    padding: 2.5rem 1.875rem;
    border-bottom-left-radius: 0;
  }

  .why-us {
    padding: 2.5rem 1.875rem;
    border-bottom-left-radius: 0.625rem;
  }
}

@media screen and (max-width: 420px) {
  .main,
  .subscription-wrapper {
    width: 20rem;
  }

  .subscription,
  .why-us {
    padding: 1.25rem 1.875rem 1.875rem;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 320px) {
  .main,
  .subscription-wrapper {
    width: 18rem;
  }
}
